{% extends 'partials/base.html' %}
{% block title %} About Page {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center my-4">About Us</h2>
            <p>Khawla Boukniter is a passionate developer with a strong background in web development. She has a keen
                eye for detail and a talent for creating user-friendly interfaces. With a deep understanding of HTML,
                CSS, and JavaScript, she is able to bring her ideas to life with ease. She is also a skilled
                communicator, able to work collaboratively with her team to deliver high-quality results.</p>
            <h3 class="mt-5">Our Team</h3>
            <p>Meet the dedicated team behind our organization:</p>
            <ul>
                <li>Khawla Boukniter </li>
            </ul>
            <h3 class="mt-5">Contact Us</h3>
            <p>Feel free to reach out to us with any questions or inquiries:</p>
            <ul>
                <li>Email: <a href="mailto:boukniter.khawla@gmail.com">boukniter.khawla@gmail.com</a></li>
                <li>Phone: <a href="tel:+212720486719">+212720486719</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}