{% extends 'partials/base.html' %}
{% block title %} Login Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card my-4 shadow">
                    <div class="card-body">
                        <h4> Login Page </h4>
                        <hr>
                        <form method="POST">
                            {% csrf_token  %}
                            {{ form|crispy }}
                            <input class="btn btn-dark btn-block my-4" type="submit" value="Login">
                        </form>
                        <div class="text-center">
                            <hr>
                            <a href=""> Forget Password ? </a>
                            <hr>
                            <a class="btn btn-secondary mt-2" href="{% url 'sign-up-page' %}"> Create An Account here </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

