{% extends 'partials/base.html' %}
{% block title %} Password Reset Done Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-8 offset-md-2">
                <div class="card my-4 shadow">
                    <div class="card-body">
                        <h4> Reset your password </h4>
                        <hr>
                        <div class="alert alert-info">
                            A mail with the instructions to reset password has been sent. If you didn't receive an email, please make sure you've entered the
                            address you registered with.
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

